<footer>

    <div>
        <p>
            © 2023 | <span class="auto-type"></span>
        </p>
    </div>

</footer>


<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="/js/blog.js"></script>
</body>

</html>