<%- include("partials/header.ejs") -%>

    <main>

        <div class="main-content">

            <div class="main-head">
                <h1>Contact</h1>
            </div>
    
            <div class="para3">
    
                <p>
                    <%= paragraph3 %>
                </p>
    
            </div>

        </div>

    </main>

<%- include("partials/footer.ejs") -%>