<%- include("partials/header") -%>

<div class="new-content">

    <div class="new-head">
        <h1><%= newposttitle %></h1>
    </div>

    <div class="new-para">

        <p><%= newpostpara %></p>

    </div>

</div>

<%- include("partials/footer") -%>